.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
}

.slick-dots {
  bottom: 15px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
}
